@media screen and (max-width: 1571px){

    #work-main-section .work-main-wrap .work-main-title span{font-size: 80px;}
}

@media screen and (max-width: 1200px){

    .video-wrap.grid-view{width: 48%;}
    #work-main-section .work-main-wrap .work-main-video .main-video-wrap .text{font-size: 16px; padding-right: 20px;}
    #work-main-section .work-main-wrap .work-main-video span, #work-main-section .work-main-wrap .work-main-video i{font-size: 16px;}
}

@media screen and (max-width: 900px){

    #work-main-section .work-main-wrap{padding: 180px 20px 80px;}
    #work-main-section .work-main-wrap .work-main-video .main-video-wrap{flex-direction: column;}
    #work-main-section .work-main-wrap .work-main-video .main-video-wrap .text{padding-right: 0;}
    #work-main-section .work-main-wrap .work-main-video .iframe-wrap{width: 100%; margin: 20px 0;}


    #portfolio-section .cate-wrap .work-cate .cate-box{width: 100px; font-size: 14px;}
    #portfolio-section .cate-wrap .list-style{display: none;}
}

@media screen and (max-width: 580px){



    #work-main-section .work-main-wrap{padding: 140px 20px 80px;}
    #work-main-section .work-main-wrap .work-main-title span{font-size: 40px;}

    #work-main-section .work-main-wrap .work-main-title .scotch, #work-main-section .work-main-wrap .work-main-title .italic{font-size: 32px;}

    #work-main-section .work-main-wrap .work-main-video .main-video-wrap .text{font-size: 12px;}
    #work-main-section .work-main-wrap .work-main-video video{padding: 16px 0;}
    #work-main-section .work-main-wrap .work-main-video span, #work-main-section .work-main-wrap .work-main-video i{font-size: 12px;}

    #portfolio-section{padding-top: 0;}
    #portfolio-section .cate-wrap{padding: 8px 0;}
    #portfolio-section .cate-wrap .work-cate .cate-box{width: 80px; font-size: 12px;}

    .video-wrap .video-text .video-title p, .video-wrap .video-text .video-cate{display: none;}
    .video-wrap .video-text{row-gap: 0;}
}