html{scroll-behavior: smooth; overflow-x: hidden;}
body{font-family: 'suit', 'Noto Sans KR', sans-serif; background-color:#fff; font-size: 16px;  font-weight: 300; line-height: 1.5; color: #191919;}
*{margin:0; padding:0; box-sizing: border-box;}
ol, ul{list-style:none;}
a{text-decoration: none; color: inherit;}
img{display:block;}
em, strong, i, b{font-style:normal; font-weight: normal;}
i, a{cursor: pointer;}
input:-internal-autofill-selected {
    appearance: none;
    background-color: transparent !important;
    color: inherit !important;
}

input:-webkit-autofill {
    appearance: none;
    background-color: transparent !important;
    color: inherit !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
